
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    height: 2000px;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*LOTTAJAEGERportfolio*/ 
.header{
    display: flex;
    padding-top: 1%;
    padding-left: 3.5%;
   
}

.fix {
    position: fixed;
    width: 100%;
}

.column/*LOTTAJAEGER*/{
    flex-direction: column;

}

.topp{
    padding-top: 1%;
    padding-left: 1%;
}



.padd{
    padding-top: 5%;
}


.sidebar /*projects life*/{
    padding-left: 92%;
    position: fixed;

    
}

.text{
    padding-left: 7%;
    padding-right: 10%;
    color: antiquewhite;
    text-align: justify;

}

.linkpic1 {
    padding-top: 7%;
    padding-left: 7%;
}

a {color:
    black;
    text-decoration: none;
    padding-left: 7%;
}

.copyright /*projects behind*/{
    position: fixed;
    bottom: 50px;
    padding-left: 7%;
}